body {
    font-family: 'Calibri';
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

button {
    background-color: #C0C0C0;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #f8040c; 
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    border: 1px solid #000;
    width: 100%
    padding: 10px;
    text-align: left;
    color: #000;
}

label, input, select {
    margin-bottom: 10px;
}

th {
    background-color: #C0C0C0;
}

#gifContainer {
    margin-top: 25px; 
    text-align: center;
  }